@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    box-sizing: border-box; /* Inclut padding et border dans la largeur des éléments */
}

/* Global Styles */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Body styles for Dark Mode by default */
body {
    @apply bg-background text-text; /* cfr dans tailwind.config.ts */
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* Container Styles */
#root {
   /*max-width: 1280px;*/
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

/* Heading Styles */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* Button Styles */
button {
    @apply border border-transparent rounded-lg py-2 px-4 text-white bg-primary cursor-pointer transition-colors duration-300;
}

button:hover {
    @apply bg-secondary;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Menu Styles */
.menu {
    @apply text-primary;
}

.menu:hover {
    @apply text-secondary;
}

/* Separator Styles */
.separator {
    margin: 0 10px;
}

/* Styles pour le Light Mode */
body.light-mode {
    @apply bg-lightBackground text-lightText; /* cfr les couleurs définies pour le mode clair */
}

/* Light Mode Button Styles */
body.light-mode button {
    @apply bg-lightBackground text-lightText border border-gray-300;
}

body.light-mode .menu {
    @apply text-black;
}

@media (prefers-color-scheme: light) {
    /* Les styles ci-dessous seront remplacés par les classes Light Mode définies ci-dessus */
    a:hover {
        color: #747bff;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%); /* Commence à gauche de l'écran */
        opacity: 0; /* Invisible au départ */
    }
    to {
        transform: translateX(0); /* Va à sa position d'origine */
        opacity: 1; /* Devient visible */
    }
}

.slide-in {
    animation: slide-in 0.5s ease forwards; /* Applique l'animation */
}


.main-content {
    padding-bottom: 60px; /* Ajuste la valeur selon la hauteur de la barre d'actions */
}

@media (max-width: 640px) {
    #root {
        padding: 0.5rem; /* Réduit le padding pour mobile */
    }

    h1 {
        font-size: 2em; /* Ajuste la taille des titres sur mobile */
    }

    button {
        @apply py-1 px-3 text-sm; /* Réduit la taille des boutons sur mobile */
    }
}